<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<title>{% block title %}{% endblock %} | Happy Holidays from Carolina</title>
	
	<link rel="Shortcut Icon" href="/static/chrome/favicon.ico" type="image/x-icon">
	
	<link rel="stylesheet" href="/static/chrome/reset.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/chrome/default.css" type="text/css" media="all">
	<!--[if IE]>
		<link rel="stylesheet" href="/static/chrome/ie.css" type="text/css" media="all">
	<![endif]-->
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	
	{% block htmlhead %}{% endblock %}
	
</head>
<body>

<div id="wrapper">
<div id="inner-wrapper">

{% block content %}{% endblock %}

<div id="bow_top_left" class="bowpreviews">&nbsp;</div>
<div id="bow_top_left_text" class="bowpreviews">&nbsp;</div>
<div id="bow_bottom_right" class="bowpreviews">&nbsp;</div>

</div><!--/inner-wrapper-->
</div><!--/wrapper-->

{% include googleanalytics.html %}

</body>
</html>