{% extends "base.html" %}

{% block title %}Create a card{% endblock %}

{% block htmlhead %}

<script type="text/javascript" src="/static/chrome/livepreview.js"></script>

{% endblock %}

{% block content %}

<form action="" method="POST">		

<div id="livepreview">

	<img id="picture" src="/static/chrome/blankimage.jpg">

	<div id="rightcol">
		
		<div class="fieldWrapper" id="message_field">
			{{ form.message.errors }}
			{{ form.message }}
    	</div>
    	
    	<div class="fieldWrapper" id="fromname_field">
			{{ form.fromname.errors }}
			<label for="id_fromname">Your name:</label><br>
			{{ form.fromname }}
		</div>
		
		
		<div class="fieldWrapper" id="fromemail_field">
			{{ form.fromemail.errors }}
			<label for="id_fromemail">From (e-mail)</label><br>
			{{ form.fromemail }}
		</div>
		
		<div class="fieldWrapper" id="toemail_field">
       		 {{ form.toemail.errors }}
       		 <label for="id_toemail">Send to (e-mail)</label><br>
        	{{ form.toemail }}
		</div>

		
	    <p><input type="submit" value="Send!" /></p>
	
	</div><!--/rightcol-->
	
	<div class="clearboth"></div>
	
</div><!--/card_live_preview-->		

<div id="options">
    <div class="fieldWrapper" id="picture_field">
        {{ form.picture.errors }}
        <label for="id_picture">Pick your picture:</label>
        
        <ul>
        {% for item in picture_list %}
		<li><label for="id_picture_{{ forloop.counter0 }}"><input type="radio" id="id_picture_{{ forloop.counter0 }}" value="{{ forloop.counter }}" name="picture"><img src="{{ item.thumb.url }}" rel="{{ item.full.url }}"></label></li>
		{% endfor %}
		</ul>
        
		
    </div>
    <div class="fieldWrapper" id="border_field">
        {{ form.border.errors }}
        <label for="id_border">Pick a bow:</label>
        
        <ul>
        {% for item in border_list %}
		<li><label for="id_border_{{ forloop.counter0 }}"><input type="radio" id="id_border_{{ forloop.counter0 }}" value="{{ forloop.counter }}" name="border"><img src="{{ item.thumb.url }}" rel="{{ item.thumb.url }}"></label></li>
		{% endfor %}
		</ul>
    </div>

    <div class="fieldWrapper" id="typeface_field">
        {{ form.typeface.errors }}
        <label for="id_typeface">Choose a font:</label>
        
        <ul>
        {% for item in typeface_list %}
		<li><label for="id_typeface_{{ forloop.counter0 }}" style="font-family:{{ item.fontstack|safe }}"><input type="radio" id="id_typeface_{{ forloop.counter0 }}" value="{{ forloop.counter }}" name="typeface">{{ item }}</label></li>
		{% endfor %}
		</ul>
        
    </div>
   	
</div><!--/options-->

</form>

<div id="bow_top_left">&nbsp;</div>
<div id="bow_bottom_right">&nbsp;</div>

<div id="copyright">&copy; All rights reserved.</div>

<div class="clearboth"></div>

{% endblock %}