{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}

<br><br><br>

<table cellpadding="15" align="center" style="font-size: 1.5em; font-family: 'Helvetica Nueue', Arial, sans-serif" cellspacing="0">

<tr>
<td>Cards in the queue</td><td>{{ cards_unsent }}</td>
</tr>
<tr>

<tr>
<td>Cards sent</td><td>{{ cards_sent }}</td>
</tr>
<tr>

<tr bgcolor="gray" style="color:#fff;">
<td><strong>Card TOTAL</strong></td><td><strong>{{ cards_total }}</strong></td>
</tr>
<tr>

<tr>
<td>Cards in the database</td><td>{{ cards_in_db }}</td>
</tr>
<tr>	
	
</table>

{% endblock %}