// Stylesheet Prepared by Chris Johnson
// UNC Design Services http://unc.edu/design

body { background: #fff; }

#wrapper { background: url(bg.jpg) no-repeat top center; padding-top 3em;}

.clearboth	{ clear: both; }