{% extends "base.html" %}

{% block title %}Create your e-card{% endblock %}

{% block content %}
		
	<form action="" method="POST">
    <div class="fieldWrapper">
        {{ form.picture.errors }}
        <label for="id_picture">Pick your picture:</label>
        
        <ul>
        {% for item in picture_list %}
		<li><label for="id_picture_{{ forloop.counter0 }}"><input type="radio" id="id_picture_{{ forloop.counter0 }}" value="{{ forloop.counter }}" name="picture">{{ item }} <img src="{{ item.thumb.url }}"></label></li>
		{% endfor %}
		</ul>
        
		
        
    </div>
    <div class="fieldWrapper">
        {{ form.bow.errors }}
        <label for="id_bow">Pick a bow:</label>
        
        <ul>
        {% for item in bow_list %}
		<li><label for="id_bow_{{ forloop.counter0 }}"><input type="radio" id="id_bow_{{ forloop.counter0 }}" value="{{ forloop.counter }}" name="bow">{{ item }} <img src="{{ item.thumb.url }}"></label></li>
		{% endfor %}
		</ul>
    </div>
    <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_message">Your message:</label>
        {{ form.message }}
    </div>
    <div class="fieldWrapper">
        {{ form.typeface.errors }}
        <label for="id_typeface">Choose a font:</label>
        
        <ul>
        {% for item in typeface_list %}
		<li><label for="id_typeface_{{ forloop.counter0 }}"><input type="radio" id="id_typeface_{{ forloop.counter0 }}" value="{{ forloop.counter }}" name="typeface"><span style="font-family:{{ item.fontstack|safe }}">{{ item }}</span></label></li>
		{% endfor %}
		</ul>
        
    </div>
    <div class="fieldWrapper">
        {{ form.toemail.errors }}
        <label for="id_toemail">Your recipients e-mail:</label>
        {{ form.toemail }}
    </div>
    <div class="fieldWrapper">
        {{ form.fromemail.errors }}
        <label for="id_fromemail">Your e-mail:</label>
        {{ form.fromemail }}
    </div>
    <p><input type="submit" value="Submit Card" /></p>
</form>


{% endblock %}